@font-face {
    font-family: 'SDKukdetopokki-Lt';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/SDKukdetopokki-aLt00.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

p,span {
    font-family: SDKukdetopokki-Lt;
}

.navbar {
    font-family: SDKukdetopokki-Lt;
    background-color: #5060ad;
}

a:hover {
    color: #000000 !important;
    text-decoration: none;
}

.navbar-brand, .nav-link {
    color: white;
}

.content {
    text-align: center;
}

.content-title {
    font-family: SDKukdetopokki-Lt;
    font-size: 30px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.36;
    letter-spacing: -0.5px;
    text-align: center;
    color: #000000;
  }

.profile-img {
    width: 80%;
    border-radius: 50%;
    padding-bottom: 10px;
}